.backButton {
  position: relative;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  background-color: white;
  color: black;
  left: 80%;
  top: 100%;
}
