.backButton {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;

  float: right; /* skubber knappen til højre */
  margin-right: 5%; /* giver luft til venstre */
  margin-top: 2%; /* lidt luft fra toppen */
}

p,
ul,
ol {
  color: white;
  padding-left: 5%;
  padding-top: 10px;
}
.opskrift-billede {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}
.opskrift-billede img {
  max-width: 100%; /* aldrig bredere end container */
  height: auto; /* bevar proportioner */
  display: block;
}
